.footer {
    background-color: var(--primary);
    
    .navbar {
        padding: 0 !important;
    }

    .nav-link {
        color: white !important;
    }

    .footer-text {
        color: white;
    }
}
