<<<<<<< HEAD
.heystack-button {
    position: relative;
    text-align: center;
    padding: 10px 20px !important;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}

.heystack-button p {
    margin: 0 !important;
=======
.heystack_btn {
    padding: 16px 24px;
    border-radius: 3px;
    width: fit-content;
}
.heystack_btn:hover {
    text-decoration: none;
}

.heystack_btn-primary {
    background: var(--color-primary);
    color: var(--color-black);
}
.heystack_btn-primary:hover {
    color: var(--color-black);
}

.heystack_btn-secondary {
    background: var(--color-secondary2);
    color: var(--color-white);
}
.heystack_btn-secondary:hover {
    color: var(--color-white);
>>>>>>> 2136c7926d32e3d346e3d1a0d3d32aa5523c8f68
}