.navbar {
    background-color: var(--black);
    z-index: 2;

    .nav-link {
        color: white;

        &:hover {
            font-weight: 500;
        }

        &:hover,
        &:active,
        &:focus {
            color: white;
        }
    }

    &.no-background {
        width: 100%;
        background-color: transparent;
        position: absolute;
    }
}

@media (min-width: 768px) {
    #basic-navbar-nav {
        justify-content: end;
    }

    .nav-link {
        margin-left: 2.5rem !important;
    }
}

@media (max-width: 992px) {
    .navbar {
        background-color: white;
    }

    .no-background {
        position: relative !important;
    }

    .navbar-expand {
        #basic-navbar-nav {
            justify-content: end;
        }
    }

    .navbar-collapse {
        text-align: center !important;
    }

    .nav-link {
        color: black !important;
    }
}